* {padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;	
	font-family: 'Poppins', sans-serif;
}

header {
	/*padding: 30px;*/
	position: relative;
	padding-top: 40px;
	/*background-image: url(../images/backgroundnav.jpg);*/
	background-color: #FFED74;
	/*border-bottom: 50px solid #B986E8;*/
}


#me {
	width: 100%;
	text-align: center;
	padding-bottom: 40px;
}

#nav {
	/*position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);*/
	text-align: center;
	background-color: #E8C66A;
}

h1 {
	color: black;
	font-size: 2em;
}

h2 {
	color: black;
	font-family: 'Parisienne', cursive;
	font-size: 2.8em;
}

#nav a {
	color: black;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	font-size: 1em;
}

#nav a:hover {
	color: #B986E8;
}

main {background-color: #E7EAFF;
}

p {
	color: #E7EAFF;
}

img {
	display: block;
	width: 100%
}

/*#thumbnailparent {
	display: flex;
	flex-wrap: wrap;
}*/

.clearfloat:after {
	content:"";
	display: block;
	clear: both;
}

.thumbnailnav {
	display: block;
	width: 25%;
	position: relative;
	float: left;
}

.thumbnailnav h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #E7EAFF;
	font-family: 'Parisienne', sans-serif;
	font-size: 1.5em;
	text-align: center;
	line-height: 1em;
}

.thumbnailnav:hover h3 {
	color: #B986E8;
}

#about {
	width: 100%;
	/*position: absolute;*/
/*	margin-top: 40px;
	padding-top: 40px;*/
	background-color: #FF957E;
	text-align: center;
}

#about h2 {
	color: black;
	size: 20px;
	text-align: center;
	padding-top: 20px;
}

#about a {
	color: black;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	font-size: 1em;
	text-align: center;
}